@import 'c/quanticFacetStyles';

.facet__search-results_no-match {
  color: #8e959d;
  background-color: var(--sds-c-color-gray-3, #f6f7f9);
  font-size: 12px;
  border-radius: 4px;
}

.facet__search-results_more-matches {
  color: #8e959d;
  font-size: 12px;
}

.parent-text__bold {
  font-weight: var(--font-weight-bold, 700);
}

.facet__number-of-results {
  color: #8e959d;
}
