.clickable{
  cursor: pointer;
}
.vote-button{
  display: flex;
  align-items: center;
}
.text-color_initial{
  color: #0176D3;
}
.icon-color_initial{
  /* --sds-c-icon-color-background: #0176D3; */
}
.label_small{
  font-size: 12px;
}